<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <img class="product-image" src="{{ product.image }}" alt="" />
  <div [innerHTML]="product.description"></div>
  <div class="rating">Rating is {{ product.rating }}</div>
  <swiper [slidesPerView]="1" [spaceBetween]="10">
    <ng-template swiperSlide>
      <img class="product-image" src="{{ product.image }}" alt="" />
    </ng-template>
    <ng-template swiperSlide>
      <img class="product-image" src="{{ product.image }}" alt="" />
    </ng-template>
    <ng-template swiperSlide>
      <img class="product-image" src="{{ product.image }}" alt="" />
    </ng-template>
  </swiper>
</div>
